node_modules
.DS_Store
dist
dist-ssr
*.local
.vscode
.eslintcache
.env
src/app/assets
src/app/components/BackButton
src/app/components/ForwardButton
src/app/components/HomeButton
src/app/components/Navigation
src/app/components/QuestionCard
src/app/components/ChoiceCard
src/app/components/CheckedCard
src/app/components/assets
src/app/components/Header