.button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.burgerIcon {
  border: none;
  background-color: transparent;
  fill: var(--color-secondary);
  width: 20px;
  height: 20px;
}

.burgerIcon:active {
  fill: var(--text-primary);
}
.burgerIcon:hover {
  fill: var(--text-primary);
}
