.main {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--text-primary);
}

.textInput,
.textInputOutput {
  width: 100%;
  background-color: transparent;
  color: var(--color-primary);
  outline: none;
  border: none;
  font-family: var(--font-face);
  font-size: 1rem;
  line-height: 2rem;
  margin: 0 0 0 1rem;
}

.textInput::placeholder {
  color: var(--bg-primary);
}

.inputWrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.icon {
  width: 25px;
  height: 27px;
  border: none;
  background-color: transparent;
}
.buttongroup {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
