.main {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--text-primary);
}

.textInput {
  width: 100%;
  background-color: transparent;
  color: var(--color-primary);
  outline: none;
  border: none;
  text-decoration: underline;
}

.textInput::placeholder {
  color: var(--bg-primary);
}

.icon {
  width: 25px;
  height: 27px;
  border: none;
  background-color: transparent;
}
.buttongroup {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
