.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--bg-primary);
}

.cardWrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-rows: min-content;
  padding: 1rem;
  overflow: scroll;
}
