.navigation {
  display: flex;
  height: 5rem;
  width: 100%;
  background: var(--color-primary);
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.navigationIcons {
  width: 20px;
  height: 20px;
}
